html {
  --bg-dark: #242424;
  --gray-light: #e7e7e7;
  --gray-dark: #424242;
  --white: #fff;
  font-size: 8px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: inter Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: var(--bg-dark);
  color: white;
  font-size: 2rem;
  box-sizing: border-box;
  height: 100vh;
}

.wrapper {
  max-width: 600px;
  margin: auto;
  padding-left: 48px;
  padding-right: 16px;
  border: solid 1px #424242;
  padding-bottom: 3rem;
}

h1 {
  margin-top: 32px;
  margin-bottom: 8px;
}

h3 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 500;
}

p {
  line-height: 3.2rem;
  padding-left: 24px;
}

span {
  color: #9d4ded;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

header {
  text-align: center;
  max-width: 600px;
}

/* Form input */

textarea {
  resize: none;
}

.img_robot {
  margin-top: 10px;
}

/* Text */
.title {
  font-size: 40px;
  margin-top: 16pt;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 3rem;
  color: rgba(245, 245, 245, 0.466);
}

.form_section {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 469px;
}

.bottom_form {
  height: 50px;
  padding: 12px;
  margin: 0;
  border: solid white 1px;
  border-radius: 0px 0px 5px 5px;
  border-top: 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.form_textarea {
  border: solid 1px white;
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--bg-dark);
  outline: none;
  padding: 2.5rem;
  color: white;
  font-family: inter;
}

textarea::placeholder {
  font-size: 18px;
}

.btn_submit {
  font-size: 2rem;
  padding: 10px 16px 10px 12px;
  border: 1px solid var(--black-dark);
  border-radius: 0px;
  background-color: #9d4ded;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.btn_submit:hover {
  background-color: #7e3ebe;
  transition: 0.1s;
}

.btn_icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.footer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  height: 80px;
}
