html {
  --bg-dark: #242424;
  --gray-light: #e7e7e7;
  --gray-dark: #424242;
  --white: #fff;
  font-size: 8px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: inter Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: var(--bg-dark);
  color: white;
  font-size: 2rem;
}

.wrapper {
  max-width: 600px;
  margin: auto;
  padding-left: 48px;
  padding-right: 16px;
  border: solid 1px #424242;
  padding-bottom: 3rem;
}

h1 {
  margin-top: 32px;
  margin-bottom: 8px;
}

h3 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 500;
}

p {
  line-height: 3.2rem;
  padding-left: 24px;
}

span {
  color: #9d4ded;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

header {
  text-align: center;
  max-width: 600px;
}

/* Form input */

textarea {
  resize: none;
}

.img_robot {
  margin-top: 3rem;
}

/* Text */
.title {
  font-size: 40pt;
  margin-top: 16pt;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 2.5rem;
  color: rgba(245, 245, 245, 0.466);
}

.form_section {
  display: flex;
  flex-direction: column;
}

.form_textarea {
  border: solid 1px white;
  border-radius: 5px;
  background-color: var(--bg-dark);
  outline: none;
  padding: 2.5rem;
  color: white;
  font-family: inter;
}

.form_textarea:hover {
  background-color: #42424225;
}

.form_textarea:focus {
  border: 1px solid white;
}

.btn_submit {
  font-size: 2rem;
  padding: 10px 20px;
  border: 1px solid var(--black-dark);
  border-radius: 0px;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.btn_submit:hover {
  background-color: rgb(19, 126, 233);
}
